.Wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.container {
    //   min-height: 1000px;
    //   background-color: #333;
    width: var(--default-layout-with);
    width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.content {
    // background-color: #ccc;
    // min-height: 1000px;
    width: 100%;
    height: 100%;
    flex: 1;
}
